*

#ungingore folder
!*/
!/

#uningore source & headers files
!*.c
!*.cpp

!*.h
!*.hh
!*.hpp

#unignore makefile
!Makefile
!*/Makefile

#unignore Assets
!assets/

#unignore Json files
!*.json

#unignore model files and anim
!*.obj
!*.fbx
!*.dae

#same for gdl .a
!*.a
renderer.a

# and .so
!*.so